Raspberry_pi_node-red.txt
[{"id":"7e796f87.e90c5","type":"tab","label":"SmartFridge","disabled":false,"info":""},{"id":"b7ffebe.ec6c918","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"b09f9a2e.d46f18","client":"","x":670,"y":100,"wires":[]},{"id":"bd5a8c6.a7a5d7","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"be455732.bd56c8","client":"","x":660,"y":40,"wires":[]},{"id":"f02088ee.681648","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"80639752.9a4928","client":"","x":560,"y":240,"wires":[]},{"id":"7bb7fd65.12c464","type":"pythonshell in","z":"7e796f87.e90c5","name":"Weight Check","pyfile":"/home/pi/Desktop/hx711py/example_python3.py","virtualenv":"","continuous":true,"stdInData":true,"x":120,"y":40,"wires":[["822432ef.2bed3"]]},{"id":"bfea23be.68c48","type":"switch","z":"7e796f87.e90c5","name":"Test value","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":40,"wires":[["bd5a8c6.a7a5d7"],["b7ffebe.ec6c918"]]},{"id":"2c640ef0.8df932","type":"exec","z":"7e796f87.e90c5","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ifconfig","x":254.0000228881836,"y":483.00001430511475,"wires":[["16d29f6f.8b5d31"],[],[]]},{"id":"66035ee3.18fce","type":"inject","z":"7e796f87.e90c5","name":"get ip - eth0","topic":"Node-Red IP Address","payload":"eth0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":102.0000228881836,"y":482.50001430511475,"wires":[["2c640ef0.8df932"]]},{"id":"ec3b17a5.f9ab68","type":"debug","z":"7e796f87.e90c5","name":"test out","active":true,"console":"false","complete":"payload","x":311.0000228881836,"y":609.5000143051147,"wires":[]},{"id":"16d29f6f.8b5d31","type":"function","z":"7e796f87.e90c5","name":"Extract network config","func":"var payload = msg.payload;\npayload = payload.split(\"wlan0\")[1]//Gets the information for the wifi connection\n\nvar ip = payload.split(\"inet \")[1] //Splits the message on inet\nip = ip.split(\" \")[0] //Gets the ip address from what remains\n\nmsg.payload = ip;\nreturn msg;","outputs":1,"noerr":0,"x":150.00003814697266,"y":558.0000257492065,"wires":[["dbab7d59.8ecb1"]]},{"id":"dbab7d59.8ecb1","type":"delay","z":"7e796f87.e90c5","name":"Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":137.0000228881836,"y":622.0000143051147,"wires":[["ec3b17a5.f9ab68","1cf24c41.9cb644"]]},{"id":"1cf24c41.9cb644","type":"function","z":"7e796f87.e90c5","name":"","func":"var payload = msg.payload;\nmsg.url = \"https://smartfridge.crumbdesign.co.uk/php/ip_control.php\";\nmsg.headers = {'content-type': 'application/x-www-form-urlencoded'};\nmsg.payload = {};\nmsg.payload['mode'] = \"setIP\";\nmsg.payload['userid'] = \"1001\";//Sets the userid of the fridge\nmsg.payload['ip'] = payload;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":740,"wires":[["cb0331a5.8cd64"]]},{"id":"cb0331a5.8cd64","type":"http request","z":"7e796f87.e90c5","name":"","method":"POST","ret":"txt","url":"","tls":"","x":220,"y":840,"wires":[["bf23c196.5d2c"]]},{"id":"bf23c196.5d2c","type":"debug","z":"7e796f87.e90c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":860,"wires":[]},{"id":"594598fd.40a5a8","type":"serial in","z":"7e796f87.e90c5","name":"","serial":"95c0b8eb.685608","x":70,"y":380,"wires":[["43aac07e.e8fc7"]]},{"id":"82f96307.ee5f3","type":"debug","z":"7e796f87.e90c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":420,"wires":[]},{"id":"43aac07e.e8fc7","type":"function","z":"7e796f87.e90c5","name":"","func":"payload = msg.payload;\n\nif(payload.indexOf(\"FLASH\") > -1){\n    msg.payload = \"FLASH\";\n}\nif(payload.indexOf(\"OPEN\") > -1){\n    msg.payload = \"OPEN\";\n}\nif(payload.indexOf(\"CLOSE\") > -1){\n    msg.payload = \"CLOSE\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["9526b779.f3bc58","82f96307.ee5f3"]]},{"id":"9526b779.f3bc58","type":"switch","z":"7e796f87.e90c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"FLASH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":340,"wires":[["a47d4ccf.1b4a2"],["295de865.fec458"]]},{"id":"295de865.fec458","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"30b60d71.6c1192","client":"","x":560,"y":440,"wires":[]},{"id":"a47d4ccf.1b4a2","type":"function","z":"7e796f87.e90c5","name":"","func":"global.set(\"door\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["f02088ee.681648"]]},{"id":"822432ef.2bed3","type":"switch","z":"7e796f87.e90c5","name":"","property":"door","propertyType":"global","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":40,"wires":[["bfea23be.68c48","ded569f1.833f58"]]},{"id":"ded569f1.833f58","type":"debug","z":"7e796f87.e90c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":120,"wires":[]},{"id":"b09f9a2e.d46f18","type":"websocket-listener","z":"","path":"itemRemoved","wholemsg":"false"},{"id":"be455732.bd56c8","type":"websocket-listener","z":"","path":"itemAdded","wholemsg":"false"},{"id":"80639752.9a4928","type":"websocket-listener","z":"","path":"doorOpen","wholemsg":"false"},{"id":"95c0b8eb.685608","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"30b60d71.6c1192","type":"websocket-listener","z":"","path":"takeImage","wholemsg":"false"}][{"id":"7e796f87.e90c5","type":"tab","label":"SmartFridge","disabled":false,"info":""},{"id":"b7ffebe.ec6c918","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"b09f9a2e.d46f18","client":"","x":670,"y":100,"wires":[]},{"id":"bd5a8c6.a7a5d7","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"be455732.bd56c8","client":"","x":660,"y":40,"wires":[]},{"id":"f02088ee.681648","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"80639752.9a4928","client":"","x":560,"y":240,"wires":[]},{"id":"7bb7fd65.12c464","type":"pythonshell in","z":"7e796f87.e90c5","name":"Weight Check","pyfile":"/home/pi/Desktop/hx711py/example_python3.py","virtualenv":"","continuous":true,"stdInData":true,"x":120,"y":40,"wires":[["822432ef.2bed3"]]},{"id":"bfea23be.68c48","type":"switch","z":"7e796f87.e90c5","name":"Test value","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":40,"wires":[["bd5a8c6.a7a5d7"],["b7ffebe.ec6c918"]]},{"id":"2c640ef0.8df932","type":"exec","z":"7e796f87.e90c5","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ifconfig","x":254.0000228881836,"y":483.00001430511475,"wires":[["16d29f6f.8b5d31"],[],[]]},{"id":"66035ee3.18fce","type":"inject","z":"7e796f87.e90c5","name":"get ip - eth0","topic":"Node-Red IP Address","payload":"eth0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":102.0000228881836,"y":482.50001430511475,"wires":[["2c640ef0.8df932"]]},{"id":"ec3b17a5.f9ab68","type":"debug","z":"7e796f87.e90c5","name":"test out","active":true,"console":"false","complete":"payload","x":311.0000228881836,"y":609.5000143051147,"wires":[]},{"id":"16d29f6f.8b5d31","type":"function","z":"7e796f87.e90c5","name":"Extract network config","func":"var payload = msg.payload;\npayload = payload.split(\"wlan0\")[1]//Gets the information for the wifi connection\n\nvar ip = payload.split(\"inet \")[1] //Splits the message on inet\nip = ip.split(\" \")[0] //Gets the ip address from what remains\n\nmsg.payload = ip;\nreturn msg;","outputs":1,"noerr":0,"x":150.00003814697266,"y":558.0000257492065,"wires":[["dbab7d59.8ecb1"]]},{"id":"dbab7d59.8ecb1","type":"delay","z":"7e796f87.e90c5","name":"Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":137.0000228881836,"y":622.0000143051147,"wires":[["ec3b17a5.f9ab68","1cf24c41.9cb644"]]},{"id":"1cf24c41.9cb644","type":"function","z":"7e796f87.e90c5","name":"","func":"var payload = msg.payload;\nmsg.url = \"https://smartfridge.crumbdesign.co.uk/php/ip_control.php\";\nmsg.headers = {'content-type': 'application/x-www-form-urlencoded'};\nmsg.payload = {};\nmsg.payload['mode'] = \"setIP\";\nmsg.payload['userid'] = \"1001\";//Sets the userid of the fridge\nmsg.payload['ip'] = payload;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":740,"wires":[["cb0331a5.8cd64"]]},{"id":"cb0331a5.8cd64","type":"http request","z":"7e796f87.e90c5","name":"","method":"POST","ret":"txt","url":"","tls":"","x":220,"y":840,"wires":[["bf23c196.5d2c"]]},{"id":"bf23c196.5d2c","type":"debug","z":"7e796f87.e90c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":860,"wires":[]},{"id":"594598fd.40a5a8","type":"serial in","z":"7e796f87.e90c5","name":"","serial":"95c0b8eb.685608","x":70,"y":380,"wires":[["43aac07e.e8fc7"]]},{"id":"82f96307.ee5f3","type":"debug","z":"7e796f87.e90c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":420,"wires":[]},{"id":"43aac07e.e8fc7","type":"function","z":"7e796f87.e90c5","name":"","func":"payload = msg.payload;\n\nif(payload.indexOf(\"FLASH\") > -1){\n    msg.payload = \"FLASH\";\n}\nif(payload.indexOf(\"OPEN\") > -1){\n    msg.payload = \"OPEN\";\n}\nif(payload.indexOf(\"CLOSE\") > -1){\n    msg.payload = \"CLOSE\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["9526b779.f3bc58","82f96307.ee5f3"]]},{"id":"9526b779.f3bc58","type":"switch","z":"7e796f87.e90c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"FLASH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":340,"wires":[["a47d4ccf.1b4a2"],["295de865.fec458"]]},{"id":"295de865.fec458","type":"websocket out","z":"7e796f87.e90c5","name":"","server":"30b60d71.6c1192","client":"","x":560,"y":440,"wires":[]},{"id":"a47d4ccf.1b4a2","type":"function","z":"7e796f87.e90c5","name":"","func":"global.set(\"door\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["f02088ee.681648"]]},{"id":"822432ef.2bed3","type":"switch","z":"7e796f87.e90c5","name":"","property":"door","propertyType":"global","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":40,"wires":[["bfea23be.68c48","ded569f1.833f58"]]},{"id":"ded569f1.833f58","type":"debug","z":"7e796f87.e90c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":120,"wires":[]},{"id":"b09f9a2e.d46f18","type":"websocket-listener","z":"","path":"itemRemoved","wholemsg":"false"},{"id":"be455732.bd56c8","type":"websocket-listener","z":"","path":"itemAdded","wholemsg":"false"},{"id":"80639752.9a4928","type":"websocket-listener","z":"","path":"doorOpen","wholemsg":"false"},{"id":"95c0b8eb.685608","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"30b60d71.6c1192","type":"websocket-listener","z":"","path":"takeImage","wholemsg":"false"}]